@{
    ViewBag.Title = "Add Teacher";
}

<div id="page4" class="page center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <!--<h1><span>Register Parents</span></h1>-->
                <h3>The Teacher</h3>
            </div>
        </div>
        <hr />
        <!-- About Us -->
        <div class="row">
            <form action="/Teacher/Add" method="POST" enctype="multipart/form-data" id="TeacherForm">
                <table width="100%">
                    <tr>
                        <td>Teacher Name</td>
                        <td><input type="text" name="name" value="" /></td>
                    </tr>
                    <tr>
                        <td>Teacher Surname</td>
                        <td><input type="text" name="surname" value="" /></td>
                    </tr>
                    <tr>
                        <td>Email Address</td>
                        <td><input type="text" name="email" value="" /></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" value="" id="username" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="text" name="password" value="" /></td>
                        <td><input type="text" name="userType" value="1" hidden /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="REGISTER" name="registerParents" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- /About Us -->
    </div>
</div>
<!-- ERROR NOTIFICATION -->
<div class="alert alert-danger animated" id="errorDiv" style="position:fixed; z-index:2000; bottom: 5px; right: 10px; display:none">
    <span id="errorSpan">Oops! can't save, please try again</span>
</div>
<!-- SUCCESS NOTIFICATION -->
<div class="alert alert-success" id="successDiv" style="position:fixed; z-index:2000; bottom: 5px; right: 10px; display:none">
    <span id="successSpan">Message sent successfully :)</span>
</div>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/UserValidation.js"></script>

<script>
    $(document).ready(function () {
        @if(ViewBag.success != null)
        {
            <text>
            $("#successSpan").html('@ViewBag.success');
            $("#successDiv").show().delay(3000).fadeOut();
            </text>
        }
        else if(ViewBag.error != null)
        {
            <text>
            $("#errorSpan").html("The username <b>" + username + "</b> already exists :(");
            $("#errorDiv").show().delay(5000).fadeOut();
            </text>
        }
    })

    $('#username').focusout(function () {
        var username = $(this).val();
        if (username !== '' && username != null) {
            $("#username").attr('disabled', 'disabled');

            $.getJSON("/Parent/Exists?username=" + username, function (data) {
                $("#username").removeAttr('disabled');

                if (data)
                {
                    $("#username").focus()
                    $("#username").val("")
                    $("#errorSpan").html("The username <b>" + username + "</b> already exists :(");
                    $("#errorDiv").show().delay(5000).fadeOut();
                }
            });
        }
    });
</script>