@{
    ViewBag.Title = "Add Learner";
}

<div class="spacer">
    <div class="container contactform center">
        <h2 style="visibility: visible; animation-name: fadeInUp;" class="text-center  wowload fadeInUp animated">The Learner</h2>
        <div style="visibility: visible; animation-name: fadeInLeftBig;" class="row wowload fadeInLeftBig animated">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <form action="/Learner/Add/" method="POST" enctype="multipart/form-data" id="LearnerForm">
                    <input type="text" name="name" placeholder="Name" value="" />
                    <input type="text" name="surname" placeholder="Surname" value="" />
                    <input type="text" name="age" placeholder="Age" value="" />
                    @Html.DropDownList("class_id", new SelectList((IEnumerable<SelectListItem>)ViewBag.Classes, "Value", "Text"), new { @class = "form-control" })
                    @Html.DropDownList("user_id", new SelectList((IEnumerable<SelectListItem>)ViewBag.Parents, "Value", "Text"), new { @class = "form-control" })
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/UserValidation.js"></script>

<script>
    $(document).ready(function () {
        @if(ViewBag.success != null)
        {
            <text>
            $("#successSpan").html('@ViewBag.success');
            $("#successDiv").show().delay(3000).fadeOut();
            </text>
        }
        else if(ViewBag.error != null)
        {
            <text>
            $("#errorSpan").html("The username <b>" + username + "</b> already exists :(");
            $("#errorDiv").show().delay(5000).fadeOut();
            </text>
        }
    })
</script>